In [3]:
name='Arpit'
Name='Saxena'
print(name)
print(Name)

Arpit
saxena

In [5]:
x=99
y=23
x+y

122

In [9]:
age=35
if age>=30:
    print(age)
print("age is",age)

35
age is 35

In [11]:
print(f"My age is {age} years")

My age is 35 years

In [17]:
total = 1 + 2 + 3 + 9 + 7 + 7 + 7 + \
4+5+6
print(total)

51

In [21]:
x=5;y=67;z=x+y
z

72

In [25]:
age = 32.9 
name = "Sachin" 
print(type(age))
print(type(name))

<class 'float'>
<class 'str'>

In [27]:
#2nd sheet defining variables

In [37]:
age = 6; height = 4.1; name = "tony";stu=True
print("age :", age)
print("Height:", height,type(height))
print("Name:", name,type(name))
print(type(stu))

age : 6
Height: 4.1 <class 'float'>
Name: tony <class 'str'>
<class 'bool'>

In [39]:
age = 25
print(type(age))

age_str = str(age)
print(type(age_str))

<class 'int'>
<class 'str'>

In [43]:
name=str(input("What is your name?"))
print("Your name is ",name)

What is your name? arpit'

Your name is  arpit'

In [45]:
age=int(input("Enter Your Age"))
print(age)

Enter Your Age 30

30

In [47]:
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))
sum = num1 + num2
difference = num1 - num2
product = num1 * num2
quotient = num1 / num2
print("Sum:", sum)
print("Difference:", difference)
print("Product:", product)
print("Quotient:", quotient)

Enter first number:  45
Enter second number:  56

Sum: 101.0
Difference: -11.0
Product: 2520.0
Quotient: 0.8035714285714286

In [53]:
age = 35
print(type(age))
height = 5.11
print(height)
print(type(height))

<class 'int'>
5.11
<class 'float'>

In [55]:
name="Arpit"
print(name)
print(type(name))

Arpit
<class 'str'>

In [57]:
t=True
print(type(t))

<class 'bool'>

In [59]:
a=10
b=11
type(a==b)

bool

In [61]:
a="hello"*5
print(a,type(a))

hellohellohellohellohello <class 'str'>

In [63]:
b="hello"+str(10)
print(b)

hello10

In [65]:
 a = 10
 b = 5
add= a+b 
sub= a-b  
mult= a*b 
div= a/b 
floor= a//b 
modulus= a%b 
exponent= a**b 
print(add)
print(sub)
print(mult)
print(div)
print(floor)
print(modulus)
print(exponent)

15
5
50
2.0
2
0
100000

In [71]:
 a = 10
 b = 5
 print(a+b)
 print(a-b)
 print(a/b)

15
5
2.0

In [73]:
2**(2**5)

4294967296

In [75]:
 a = 10
 b = 10.1
 a == b

False

In [83]:
 str1 = "Aman"
 str2 = "Aman"
 print(str1 == str2)
 print(str1!=str2)

True
False

In [85]:
x=True
y=True
r=x and y
print(r)

True

In [87]:
x=False
y=True
r=x and y
print(r)

False

In [89]:
x=False
y=False
print(x and y)

False

In [91]:
x=False
print(not x)

True

In [95]:
age=15
if age>=18:
    print("you can vote")
else:
    print("you can't vote")

you can't vote

In [101]:
age=int(input("Enter your age:"))
if age<=13:
    print("child")
elif age>13 and age<25:
    print("medium age ")
else:
    print("Adult person")

Enter your age: 23

medium age

In [103]:
 num = 42
 if num%2==0:
    print("Even")
 else:
    print("Odd")

Even

In [105]:
a=int(input("enter your number"))
if a>0:
    print("+ve")
    if a%2==0:
        print("even +ve number")
    else :
        print("odd +ve number")
else:
    print("0 or -ve number")

enter your number 3

+ve
odd +ve number

In [117]:
year=int(input("enter Your Year"))
if year%4==0:
    if year%100:
        if year%400:
            print("Its a leap year")
        else:
            print("Not a leap year")
    else:
        print("Not a leap year")   
else:
    print("Not a leap year")

enter Your Year 2002

Not a leap year

In [121]:
 num1 = float(input("Enter first number: "))
 num2 = float(input("Enter second number: "))
 operation = input("Enter operation (+, -, *, /): ")
 
 if operation == '+':
    result = num1 + num2
 elif operation == '-':
    result = num1 - num2
 elif operation == '*':
    result = num1 * num2
 elif operation == '/':
    if num2 != 0:
        result = num1 / num2
    else:
        result = "Error! Division by zero."
 else:
    result = "Invalid operation."
 print("Result:", result)

Enter first number:  44.6
Enter second number:  44.2
Enter operation (+, -, *, /):  *

Result: 1971.3200000000002

In [125]:
age=int(input("Enter your age:"))
is_stu=str(input("Are you  student?(Y or N)")).lower()
if age<5:
    price=free
elif age<=12:
    price='$12'
elif age<=17:
    if is_stu=='y':
        price='$14'
    else:
        price='$15'
elif age<=64:
    if is_stu=='y':
        price='$24'
    else:
        price='$29'
else:
    price='$50'
print("Ticket Price is", price)

Enter your age: 34
Are you  student?(Y or N) y

Ticket Price is $24

In [129]:
stored_u='arpit123'
stored_password='saxena4'
input_u=str(input("Enter your username:"))                                          
input_password=str(input("Enter your password:"))
if input_u==stored_u:
    if input_password==stored_password:
        print("login successfull")
    else:
        print("password incorrect")
else:
    print("No user found")

Enter your username: snljsd
Enter your password: dbdn

No user found

In [131]:
#6 loops

In [133]:
range(5)

range(0, 5)

In [135]:
for i in range(0,5):
    print(i)

0
1
2
3
4

In [137]:
for i in range(0,5):
    print("Arpit",i)

Arpit 0
Arpit 1
Arpit 2
Arpit 3
Arpit 4

In [143]:
for i in range(1,10,-1):
    print(i)

In [145]:
for i in range(10,1,-1):
    print(i)

10
9
8
7
6
5
4
3
2

In [149]:
name ="Arpit Saxena"
for i in name:
    print(i)

A
r
p
i
t

S
a
x
e
n
a

In [151]:
 count=0
 while count<5:
    print(count)
    count=count+1

0
1
2
3
4

In [153]:
help(range)

Help on class range in module builtins:

class range(object)
 |  range(stop) -> range object
 |  range(start, stop[, step]) -> range object
 |
 |  Return an object that produces a sequence of integers from start (inclusive)
 |  to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
 |  start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
 |  These are exactly the valid indices for a list of 4 elements.
 |  When step is given, it specifies the increment (or decrement).
 |
 |  Methods defined here:
 |
 |  __bool__(self, /)
 |      True if self else False
 |
 |  __contains__(self, key, /)
 |      Return bool(key in self).
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __reduce__(...)
 |      Helper for pickle.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(...)
 |      Return a reverse iterator.
 |
 |  count(...)
 |      rangeobject.count(value) -> integer -- return number of occurrences of value
 |
 |  index(...)
 |      rangeobject.index(value) -> integer -- return index of value.
 |      Raise ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs)
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  start
 |
 |  step
 |
 |  stop

In [155]:
for i in range(10):
    if i==5:
        break
    print(i)

0
1
2
3
4

In [157]:
for i in range(10):
    if i%2==0:
        continue
    print(i)

1
3
5
7
9

In [159]:
 n=10   
 sum=0
 count=1
 while count<=n:
    sum=sum+count
    count=count+1
 print("Sum of first 10 natural number:",sum)

Sum of first 10 natural number: 55

In [166]:
n=10   
sum=0
for i in range(11):
    sum=sum+i
print(sum)

55

In [168]:
n=int(input("Enter any number:"))
for i in range(1,11):
    print(f"{n}*{i}={n*i}")

Enter any number: 3

3*1=3
3*2=6
3*3=9
3*4=12
3*5=15
3*6=18
3*7=21
3*8=24
3*9=27
3*10=30

In [172]:
for num in range(1,101):
    if num>1:
        for i in range(2,num):
            if num%i==0:
                break
        else:
            print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

In [174]:
#7

In [203]:
fruits=["apple", "banana","cherry","kiwi","gauva"]

print(fruits[0])
print(fruits[1])
print(fruits[4])
print(fruits[-1])

apple
banana
gauva
gauva

In [178]:
fruits[0:4]

['apple', 'banana', 'cherry', 'kiwi']

In [180]:
print(fruits[1:])
print(fruits[1:3])
print(fruits[:3])
print(fruits[:])
print(fruits[::-1])

['banana', 'cherry', 'kiwi', 'gauva']
['banana', 'cherry']
['apple', 'banana', 'cherry']
['apple', 'banana', 'cherry', 'kiwi', 'gauva']
['gauva', 'kiwi', 'cherry', 'banana', 'apple']

In [184]:
fruits[1]

'banana'

In [186]:
fruits[1] = "watermelon"
print(fruits)

['apple', 'watermelon', 'cherry', 'kiwi', 'gauva']

In [188]:
fruits[1:] = "watermelon"
fruits

['apple', 'w', 'a', 't', 'e', 'r', 'm', 'e', 'l', 'o', 'n']

In [201]:
fruits[1:3] = "watermelon"
fruits

['apple',
 'w',
 'a',
 't',
 'e',
 'r',
 'm',
 'e',
 'l',
 'o',
 'n',
 'kiwi',
 'gauva',
 'orange']

In [205]:
fruits.append("orange")
fruits

['apple', 'banana', 'cherry', 'kiwi', 'gauva', 'orange']

In [209]:
fruits.insert(1,"watermelon")
print(fruits)

['apple', 'watermelon', 'banana', 'cherry', 'kiwi', 'gauva', 'orange']

In [211]:
fruits.remove("banana")
fruits

['apple', 'watermelon', 'cherry', 'kiwi', 'gauva', 'orange']

In [213]:
 popped_fruits=fruits.pop()
 print(fruits)
 print(popped_fruits)

['apple', 'watermelon', 'cherry', 'kiwi', 'gauva']
orange

In [215]:
index=fruits.index("cherry")
print(index)

2

In [219]:
fruits.insert(2,"banana")
fruits

['apple', 'watermelon', 'banana', 'cherry', 'kiwi', 'gauva']

In [221]:
print(fruits.count("banana"))

1

In [223]:
fruits.append("avocado")

In [225]:
fruits.sort()
fruits

['apple', 'avocado', 'banana', 'cherry', 'gauva', 'kiwi', 'watermelon']

In [227]:
fruits.reverse()
fruits

['watermelon', 'kiwi', 'gauva', 'cherry', 'banana', 'avocado', 'apple']

In [229]:
fruits.clear()
fruits

[]

In [233]:
x=[i for i in range(1,11)]
x

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [235]:
for number in x:
    print(number)

1
2
3
4
5
6
7
8
9
10

In [237]:
for index, number in enumerate(x):
    print(index,number)

0 1
1 2
2 3
3 4
4 5
5 6
6 7
7 8
8 9
9 10

In [239]:
x.count(2)

1

In [241]:
len(x)

10

In [245]:
lst=[]
for x in range(1,11,2):
   lst.append(x**2)
print(lst)

[1, 9, 25, 49, 81]

In [247]:
#8

In [249]:
 empty_tuple=()
 print(empty_tuple)
 print(type(empty_tuple))

()
<class 'tuple'>

In [251]:
 tpl=tuple()
 print(type(tpl))

<class 'tuple'>

In [253]:
 tpl1 = (1,2,3,4,5)
 print(type(tpl1))

<class 'tuple'>

In [255]:
 lst = [1,2,3,4,5]
 lst

[1, 2, 3, 4, 5]

In [257]:
numbers=tuple(lst)
numbers

(1, 2, 3, 4, 5)

In [259]:
list(numbers)

[1, 2, 3, 4, 5]

In [261]:
 mixed_tuple=(1,"Hello World",3.14, True)
 print(mixed_tuple)

(1, 'Hello World', 3.14, True)

In [263]:
numbers

(1, 2, 3, 4, 5)

In [269]:
 print(numbers[3])
 print(numbers[-1])

4
5

In [271]:
numbers[0:4]

(1, 2, 3, 4)

In [273]:
numbers[::-1]

(5, 4, 3, 2, 1)

In [275]:
numbers

(1, 2, 3, 4, 5)

In [277]:
mixed_tuple

(1, 'Hello World', 3.14, True)

In [279]:
 concatenation_tuple=numbers + mixed_tuple
 print(concatenation_tuple)

(1, 2, 3, 4, 5, 1, 'Hello World', 3.14, True)

In [281]:
mixed_tuple

(1, 'Hello World', 3.14, True)

In [283]:
mixed_tuple * 3

(1,
 'Hello World',
 3.14,
 True,
 1,
 'Hello World',
 3.14,
 True,
 1,
 'Hello World',
 3.14,
 True)

In [285]:
t=1,"Arpit",98
print(t)

(1, 'Arpit', 98)

In [291]:
a,b,c=t
print(a)
print(b)
print(c)

1
Arpit
98

In [293]:
 numbers = (1,2,3,4,5,6)
 first, *middle, last = numbers
 print(first)
 print(middle)
 print(last)

1
[2, 3, 4, 5]
6

In [295]:
 lst=[[1,2,3,4],[6,7,8,9],[1,"Hello",3.14,"c"]]
 lst

[[1, 2, 3, 4], [6, 7, 8, 9], [1, 'Hello', 3.14, 'c']]

In [297]:
lst[0]

[1, 2, 3, 4]

In [299]:
 lst=[[1,2,3,4],[6,7,8,9],(1,"Hello",3.14,"c")]
 lst

[[1, 2, 3, 4], [6, 7, 8, 9], (1, 'Hello', 3.14, 'c')]

In [301]:
lst[2][0:3]

(1, 'Hello', 3.14)

In [303]:
 nested_tuple = ((1, 1, 2, 3, 2), ("a", "b", "c"), (True, False))
 print(nested_tuple[0])
 print(nested_tuple[1][2])

(1, 1, 2, 3, 2)
c

In [305]:
 for sub_tuple in nested_tuple:
     for item in sub_tuple:
         print(item,end=" ")
     print()

1 1 2 3 2
a b c
True False

In [307]:
 student={"name":"Sunny", "age":17, "grade":11}
 print(student)
 print(type(student))

{'name': 'Sunny', 'age': 17, 'grade': 11}
<class 'dict'>

In [309]:
 student={"name":"Sunny", "age":17, "name":24}
 print(student)

{'name': 24, 'age': 17}

In [311]:
 student={"name":"Honey","age":32,"grade":'A'}
 print(student)

{'name': 'Honey', 'age': 32, 'grade': 'A'}

In [313]:
 print(student['grade'])
 print(student['age'])

A
32

In [315]:
print(student.get('grade'))

A

In [317]:
print(student.get('last_name'))

None

In [319]:
print(student.get('last_name',"Not Available"))

Not Available

In [321]:
 student["age"]=33  
 print(student)

{'name': 'Honey', 'age': 33, 'grade': 'A'}

In [325]:
 student["address"]="India" 
 print(student)

{'name': 'Honey', 'age': 33, 'grade': 'A', 'address': 'India'}

In [329]:
del student['grade']
print(student)

{'name': 'Honey', 'age': 33, 'address': 'India'}

In [331]:
 keys=student.keys()
 print(keys)
 values=student.values()
 print(values)
 items=student.items()
 print(items)

dict_keys(['name', 'age', 'address'])
dict_values(['Honey', 33, 'India'])
dict_items([('name', 'Honey'), ('age', 33), ('address', 'India')])

In [333]:
 import copy
 student = {'name': 'Honey', 'subjects': ['Math', 'Science']}
 student_copy = copy.copy(student)

In [335]:
student, student_copy

({'name': 'Honey', 'subjects': ['Math', 'Science']},
 {'name': 'Honey', 'subjects': ['Math', 'Science']})

In [337]:
 student['subjects'].append('English')
 print(student)
 print(student_copy)

{'name': 'Honey', 'subjects': ['Math', 'Science', 'English']}
{'name': 'Honey', 'subjects': ['Math', 'Science', 'English']}

In [341]:
 import copy
 student = {'name': 'Honey', 'subjects': ['Math', 'Science']}
 student_copy2 = copy.deepcopy(student)

In [343]:
student, student_copy2

({'name': 'Honey', 'subjects': ['Math', 'Science']},
 {'name': 'Honey', 'subjects': ['Math', 'Science']})

In [345]:
 student['subjects'].append('English')
 print(student)
 print(student_copy2)

{'name': 'Honey', 'subjects': ['Math', 'Science', 'English']}
{'name': 'Honey', 'subjects': ['Math', 'Science']}

In [347]:
  for keys in student.keys():
    print(keys)

name
subjects

In [349]:
for value in student.values():
    print(value)

Honey
['Math', 'Science', 'English']

In [351]:

 for key,value in student.items():
    print(f"{key}:{value}")

name:Honey
subjects:['Math', 'Science', 'English']

In [355]:
students={
    "student1":{"name":"Sunny","age":32},
    "student2":{"name":"Peter","age":35}
 }

print(students)

{'student1': {'name': 'Sunny', 'age': 32}, 'student2': {'name': 'Peter', 'age': 35}}

In [359]:
 print(students["student2"]["name"])
 print(students["student2"]["age"])

Peter
35

In [361]:
students.items()

dict_items([('student1', {'name': 'Sunny', 'age': 32}), ('student2', {'name': 'Peter', 'age': 35})])

In [363]:
def eveodd(num):
    
    if num%2==0:
        print("the number is even")
    else:
        print("the number is odd")
eveodd(2)

the number is even

In [373]:
def greet(name):
    print(f"Hello {name} Welcome To the htl")
    
greet("Arpit")

Hello Arpit Welcome To the htl

In [387]:
def print_numbers(*f):
    for number in f:
        print(number)

In [389]:
print_numbers(1,2,3,"king")

1
2
3
king

In [393]:
def print_numbers(*args):
    for i in args:
        print(i)

In [395]:
print_numbers(1,2,3,"King", "Divine")

1
2
3
King
Divine

In [398]:
def sum_of_numbers(*args):
    sum = 0
    for i in args:
        sum = sum + i
    return sum

In [400]:
sum_of_numbers(1,2,3,4,5,6,7,8,9,0)

45

In [402]:
def print_details(**kwargs):
    for key,value in kwargs.items():
        print(f"{key}:{value}")

In [404]:
print_details(name="Ajay",age="32",country="India")

name:Ajay
age:32
country:India

In [406]:
def print_details(*args,**kwargs):
    for val in args:
        print(f" Positional arument :{val}")
    
    for key,value in kwargs.items():
        print(f"{key}:{value}")

In [408]:
 print_details(1,2,3,4,"Ajay",name="Ajay",age="32",country="India")

 Positional arument :1
 Positional arument :2
 Positional arument :3
 Positional arument :4
 Positional arument :Ajay
name:Ajay
age:32
country:India

In [413]:
def multiply(a,b):
    return a*b
multiply(2,3)

6

In [417]:
 addition=lambda a,b:a+b
 type(addition)
 print(addition(5,6))

11

In [419]:
 even1=lambda num:num%2==0
 even1(12)

True

In [424]:
 def addition(x,y,z):
    return x+y+z
 addition(12,13,14)

39

In [426]:
addition1=lambda x,y,z:x+y+z
addition1(12,13,14)

39

In [428]:
list(map(lambda x:x**2,numbers))

[1, 4, 9, 16, 25, 36]

In [432]:
numbers=[1,2,3,4,5,6,7,8]
list(map(lambda x:x*x,numbers))

[1, 4, 9, 16, 25, 36, 49, 64]

In [434]:
 numbers1=[1,2,3]
 numbers2=[4,5,6]
 added_numbers=list(map(lambda x,y:x+y,numbers1,numbers2))
 print(added_numbers)

[5, 7, 9]

In [436]:
 str_numbers = ['1', '2', '3', '4', '5']
 int_numbers = list(map(int, str_numbers))
 print(int_numbers)

[1, 2, 3, 4, 5]

In [438]:
 words=['apple','banana','cherry']
 upper_word=list(map(str.upper,words))
 print(upper_word)

['APPLE', 'BANANA', 'CHERRY']

In [445]:
def get_name(person):
    return person['name']
people=[
    {'name':'Ajay','age':32},
    {'name':'Jack','age':33}
      ]
list(map(get_name,people))

['Ajay', 'Jack']

In [449]:
def even(num):
    if num%2==0:
        return True

In [453]:
lst=[1,2,3,4,5,6,7,8,9,10,11,12]
list(filter(even,lst))

[2, 4, 6, 8, 10, 12]

In [455]:
 numbers=[1,2,3,4,5,6,7,8,9]
 greater_than_five=list(filter(lambda x:x>5,numbers))
 print(greater_than_five)

[6, 7, 8, 9]

In [457]:
 numbers=[1,2,3,4,5,6,7,8,9]
 even_and_greater_than_five=list(filter(lambda x:x>5 and x%2==0,numbers))
 print(even_and_greater_than_five)

[6, 8]

In [459]:
 people=[
    {'name':'Sunny','age':32},
    {'name':'Jack','age':33},
    {'name':'John','age':25}
 ]
 def age_greater_than_25(person):
    return person['age']>25
 list(filter(age_greater_than_25,people))

[{'name': 'Sunny', 'age': 32}, {'name': 'Jack', 'age': 33}]